@model CreditCardValidation.Models.CardProvider

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Html.AntiForgeryToken()

@Html.React("CardProviderCreateForm", new
{
    url = Url.Action("Create")
})

<script src="@Url.Content("~/Scripts/CardProviderCreate.jsx")"></script>
@Html.ReactInitJavaScript()

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

