@model CreditCardValidation.Models.CardProvider


@Html.AntiForgeryToken()

@Html.React("CardProviderDeleteForm", new
{
    ID = Model.ID,
    Description = Model.Description,
    ValidationRegex = Model.ValidationRegex

})

<script src="@Url.Content("~/Scripts/CardProviderDelete.jsx")"></script>
@Html.ReactInitJavaScript()

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
