
@model CreditCardValidation.Models.CardProvider

@Html.AntiForgeryToken()

@Html.React("CardProviderContainer", new
{
    data = Model,
    url = Url.Action("Edit")
})

<script src="@Url.Content("~/Scripts/CardProviderEdit.jsx")"></script>
@Html.ReactInitJavaScript()

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

